<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siyi.game.dao.DianJiConfigMapper">
  <resultMap id="BaseResultMap" type="siyi.game.dao.entity.DianJiConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="lei" jdbcType="VARCHAR" property="lei" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="hp" jdbcType="VARCHAR" property="hp" />

    <result column="guize1quanzhong" jdbcType="VARCHAR" property="guize1quanzhong" />
    <result column="time1" jdbcType="VARCHAR" property="time1" />
    <result column="jiangli1time" jdbcType="VARCHAR" property="jiangli1time" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>
