<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siyi.game.dao.ItemConfigMapper">
  <resultMap id="BaseResultMap" type="siyi.game.dao.entity.ItemConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="onoff" jdbcType="CHAR" property="onoff" />
    <result column="quanzhong" jdbcType="INTEGER" property="quanzhong" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="max" jdbcType="BIGINT" property="max" />
    <result column="cd" jdbcType="BIGINT" property="cd" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>