<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siyi.game.dao.LevelClearRecordMapper">
  <resultMap id="BaseResultMap" type="siyi.game.dao.entity.LevelClearRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="player_id" jdbcType="VARCHAR" property="playerId" />
    <result column="game_code" jdbcType="VARCHAR" property="gameCode" />
    <result column="barrier_count" jdbcType="INTEGER" property="barrierCount" />
    <result column="best_score" jdbcType="VARCHAR" property="bestScore" />
  </resultMap>
</mapper>