<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siyi.game.dao.LoginLogMapper">
    <resultMap id="BaseResultMap" type="siyi.game.dao.entity.LoginLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="player_id" jdbcType="VARCHAR" property="playerId"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="logout_time" jdbcType="TIMESTAMP" property="logoutTime"/>
        <result column="advert_frequency" jdbcType="INTEGER" property="advertFrequency"/>
        <result column="game_code" jdbcType="VARCHAR" property="gameCode"/>
        <result column="login_duration" jdbcType="TIMESTAMP" property="loginDuration"/>
    </resultMap>

    <resultMap id="LoginLogIfoMap" type="siyi.game.dao.model.LoginLogInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="player_id" jdbcType="VARCHAR" property="playerId"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="logout_time" jdbcType="TIMESTAMP" property="logoutTime"/>
        <result column="advert_frequency" jdbcType="INTEGER" property="advertFrequency"/>
        <result column="game_code" jdbcType="VARCHAR" property="gameCode"/>
        <result column="login_duration" jdbcType="TIMESTAMP" property="loginDuration"/>
        <result column="player_name" jdbcType="VARCHAR" property="playerName"/>
    </resultMap>

    <select id="getLoginLogPageInfo" resultMap="LoginLogIfoMap">
        SELECT
        a.player_id,
        a.login_time,
        a.logout_time,
        a.game_code,
        a.advert_frequency,
        a.login_duration,
        b.player_name
        FROM
        tb_login_log a
        LEFT JOIN tb_player b ON a.player_id = b.player_id
        <where>
            <if test="gameCode != null and gameCode != ''">
                and a.game_code = #{gameCode}
            </if>

            <if test="playerName != null and playerName != ''">
                and b.player_name = #{playerName}
            </if>
            <if test="playerId != null and playerId != ''">
                and a.player_id = #{playerId}
            </if>
        </where>
    </select>

</mapper>
