<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siyi.game.dao.PlayerMessionRecordMapper">
  <resultMap id="BaseResultMap" type="siyi.game.dao.entity.PlayerMessionRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="player_id" jdbcType="VARCHAR" property="playerId" />
    <result column="blank_id" jdbcType="VARCHAR" property="blankId" />
    <result column="mession_id" jdbcType="VARCHAR" property="messionId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime" />
  </resultMap>
</mapper>
