<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siyi.game.dao.QuDuicuoMapper">
  <resultMap id="BaseResultMap" type="siyi.game.dao.entity.QuDuicuo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="qu_id" jdbcType="VARCHAR" property="quId" />
    <result column="qu_status" jdbcType="VARCHAR" property="quStatus" />
    <result column="point0" jdbcType="VARCHAR" property="point0" />
    <result column="point1" jdbcType="VARCHAR" property="point1" />
    <result column="point2" jdbcType="VARCHAR" property="point2" />
    <result column="point3" jdbcType="VARCHAR" property="point3" />
    <result column="point4" jdbcType="VARCHAR" property="point4" />
    <result column="point5" jdbcType="VARCHAR" property="point5" />
    <result column="point6" jdbcType="VARCHAR" property="point6" />
    <result column="point7" jdbcType="VARCHAR" property="point7" />
    <result column="point8" jdbcType="VARCHAR" property="point8" />
    <result column="point9" jdbcType="VARCHAR" property="point9" />
    <result column="point10" jdbcType="VARCHAR" property="point10" />
    <result column="point11" jdbcType="VARCHAR" property="point11" />
    <result column="point12" jdbcType="VARCHAR" property="point12" />
    <result column="point13" jdbcType="VARCHAR" property="point13" />
    <result column="point14" jdbcType="VARCHAR" property="point14" />
    <result column="point15" jdbcType="VARCHAR" property="point15" />
    <result column="point16" jdbcType="VARCHAR" property="point16" />
    <result column="point17" jdbcType="VARCHAR" property="point17" />
    <result column="point18" jdbcType="VARCHAR" property="point18" />
    <result column="point19" jdbcType="VARCHAR" property="point19" />
    <result column="point20" jdbcType="VARCHAR" property="point20" />
    <result column="point21" jdbcType="VARCHAR" property="point21" />
    <result column="point22" jdbcType="VARCHAR" property="point22" />
    <result column="point23" jdbcType="VARCHAR" property="point23" />
    <result column="point24" jdbcType="VARCHAR" property="point24" />
    <result column="point25" jdbcType="VARCHAR" property="point25" />
    <result column="point26" jdbcType="VARCHAR" property="point26" />
    <result column="point27" jdbcType="VARCHAR" property="point27" />
    <result column="point28" jdbcType="VARCHAR" property="point28" />
    <result column="point29" jdbcType="VARCHAR" property="point29" />
    <result column="point30" jdbcType="VARCHAR" property="point30" />
    <result column="point31" jdbcType="VARCHAR" property="point31" />
    <result column="point32" jdbcType="VARCHAR" property="point32" />
    <result column="point33" jdbcType="VARCHAR" property="point33" />
    <result column="point34" jdbcType="VARCHAR" property="point34" />
    <result column="point35" jdbcType="VARCHAR" property="point35" />
    <result column="point36" jdbcType="VARCHAR" property="point36" />
    <result column="point37" jdbcType="VARCHAR" property="point37" />
    <result column="point38" jdbcType="VARCHAR" property="point38" />
    <result column="point39" jdbcType="VARCHAR" property="point39" />
    <result column="point40" jdbcType="VARCHAR" property="point40" />
    <result column="point41" jdbcType="VARCHAR" property="point41" />
    <result column="point42" jdbcType="VARCHAR" property="point42" />
    <result column="point43" jdbcType="VARCHAR" property="point43" />
    <result column="point44" jdbcType="VARCHAR" property="point44" />
    <result column="point45" jdbcType="VARCHAR" property="point45" />
    <result column="point46" jdbcType="VARCHAR" property="point46" />
    <result column="point47" jdbcType="VARCHAR" property="point47" />
    <result column="point48" jdbcType="VARCHAR" property="point48" />
    <result column="point49" jdbcType="VARCHAR" property="point49" />
    <result column="point50" jdbcType="VARCHAR" property="point50" />
    <result column="point51" jdbcType="VARCHAR" property="point51" />
    <result column="point52" jdbcType="VARCHAR" property="point52" />
    <result column="point53" jdbcType="VARCHAR" property="point53" />
    <result column="point54" jdbcType="VARCHAR" property="point54" />
    <result column="point55" jdbcType="VARCHAR" property="point55" />
    <result column="point56" jdbcType="VARCHAR" property="point56" />
    <result column="point57" jdbcType="VARCHAR" property="point57" />
    <result column="point58" jdbcType="VARCHAR" property="point58" />
    <result column="point59" jdbcType="VARCHAR" property="point59" />
    <result column="point60" jdbcType="VARCHAR" property="point60" />
    <result column="point61" jdbcType="VARCHAR" property="point61" />
    <result column="point62" jdbcType="VARCHAR" property="point62" />
    <result column="point63" jdbcType="VARCHAR" property="point63" />
    <result column="point64" jdbcType="VARCHAR" property="point64" />
    <result column="point65" jdbcType="VARCHAR" property="point65" />
    <result column="point66" jdbcType="VARCHAR" property="point66" />
    <result column="point67" jdbcType="VARCHAR" property="point67" />
    <result column="point68" jdbcType="VARCHAR" property="point68" />
    <result column="point69" jdbcType="VARCHAR" property="point69" />
    <result column="point70" jdbcType="VARCHAR" property="point70" />
    <result column="point71" jdbcType="VARCHAR" property="point71" />
    <result column="point72" jdbcType="VARCHAR" property="point72" />
    <result column="point73" jdbcType="VARCHAR" property="point73" />
    <result column="point74" jdbcType="VARCHAR" property="point74" />
    <result column="point75" jdbcType="VARCHAR" property="point75" />
    <result column="point76" jdbcType="VARCHAR" property="point76" />
    <result column="point77" jdbcType="VARCHAR" property="point77" />
    <result column="point78" jdbcType="VARCHAR" property="point78" />
    <result column="point79" jdbcType="VARCHAR" property="point79" />
    <result column="point80" jdbcType="VARCHAR" property="point80" />
    <result column="point81" jdbcType="VARCHAR" property="point81" />
    <result column="point82" jdbcType="VARCHAR" property="point82" />
    <result column="point83" jdbcType="VARCHAR" property="point83" />
    <result column="point84" jdbcType="VARCHAR" property="point84" />
    <result column="point85" jdbcType="VARCHAR" property="point85" />
    <result column="point86" jdbcType="VARCHAR" property="point86" />
    <result column="point87" jdbcType="VARCHAR" property="point87" />
    <result column="point88" jdbcType="VARCHAR" property="point88" />
    <result column="point89" jdbcType="VARCHAR" property="point89" />
    <result column="point90" jdbcType="VARCHAR" property="point90" />
    <result column="point91" jdbcType="VARCHAR" property="point91" />
    <result column="point92" jdbcType="VARCHAR" property="point92" />
    <result column="point93" jdbcType="VARCHAR" property="point93" />
    <result column="point94" jdbcType="VARCHAR" property="point94" />
    <result column="point95" jdbcType="VARCHAR" property="point95" />
    <result column="point96" jdbcType="VARCHAR" property="point96" />
    <result column="point97" jdbcType="VARCHAR" property="point97" />
    <result column="point98" jdbcType="VARCHAR" property="point98" />
    <result column="point99" jdbcType="VARCHAR" property="point99" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
  </resultMap>
</mapper>