<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siyi.game.dao.ScoreTodayMapper">
  <resultMap id="BaseResultMap" type="siyi.game.dao.entity.ScoreToday">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="player_Id" jdbcType="VARCHAR" property="playerId" />
    <id column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="wen_pass_num" jdbcType="INTEGER" property="wenPassNum" />
    <result column="wu_pass_num" jdbcType="INTEGER" property="wuPassNum" />
    <result column="REVISION" jdbcType="INTEGER" property="revision" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <select id="queryWenRanking" resultType="siyi.game.bo.functionbtn.WenSuccessRecord">
    <![CDATA[
    select t1.wen_pass_num as level, t2.avatar_url as avatarUrl, t2.nickName, t2.wx_openid as openId from tb_score_today t1
    left join tb_player_wx_info t2
    on t1.player_id = t2.player_id
    where t1.wen_pass_num is not null and and t1.wen_pass_num <> 0 and t1.CREATED_TIME = #{date} order by t1.wen_pass_num desc
    ]]>
  </select>

  <select id="queryWuRanking" parameterType="String" resultType="siyi.game.bo.functionbtn.WuSuccessRecord">
    <![CDATA[
    select t1.wu_pass_num as level, t2.avatar_url as avatarUrl, t2.nickName, t2.wx_openid as openId from tb_score_today t1
    left join tb_player_wx_info t2
    on t1.player_id = t2.player_id
    where t1.wu_pass_num is not null and t1.wu_pass_num <> 0 and t1.CREATED_TIME = #{date} order by t1.wu_pass_num desc
    ]]>
  </select>
</mapper>