<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siyi.game.dao.XuanZeConfigMapper">
  <resultMap id="BaseResultMap" type="siyi.game.dao.entity.XuanZeConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="onoff" jdbcType="VARCHAR" property="onoff" />
    <result column="point1" jdbcType="VARCHAR" property="point1" />
    <result column="point2" jdbcType="VARCHAR" property="point2" />
    <result column="point3" jdbcType="VARCHAR" property="point3" />
    <result column="point4" jdbcType="VARCHAR" property="point4" />
    <result column="point5" jdbcType="VARCHAR" property="point5" />
    <result column="point6" jdbcType="VARCHAR" property="point6" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
  </resultMap>
</mapper>