<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siyi.game.dao.ZhuiLuoConfigMapper">
  <resultMap id="BaseResultMap" type="siyi.game.dao.entity.ZhuiLuoConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="spend" jdbcType="VARCHAR" property="spend" />
    <result column="cd" jdbcType="VARCHAR" property="cd" />
    <result column="hp" jdbcType="VARCHAR" property="hp" />
    <result column="guize1num" jdbcType="VARCHAR" property="guize1num" />
    <result column="guize1quanzhong" jdbcType="VARCHAR" property="guize1quanzhong" />
    <result column="time1" jdbcType="VARCHAR" property="time1" />
    <result column="jiangli1time" jdbcType="VARCHAR" property="jiangli1time" />
    <result column="guize2num" jdbcType="VARCHAR" property="guize2num" />
    <result column="guize2quanzhong" jdbcType="VARCHAR" property="guize2quanzhong" />
    <result column="time2" jdbcType="VARCHAR" property="time2" />
    <result column="jiangli2time" jdbcType="VARCHAR" property="jiangli2time" />
    <result column="guize3num" jdbcType="VARCHAR" property="guize3num" />
    <result column="guize3quanzhong" jdbcType="VARCHAR" property="guize3quanzhong" />
    <result column="time3" jdbcType="VARCHAR" property="time3" />
    <result column="jiangli3time" jdbcType="VARCHAR" property="jiangli3time" />
  </resultMap>
</mapper>
